@import url('https://fonts.googleapis.com/css?family=Abel');
/* Allgemein
*/
body {
    font-family: 'Abel', sans-serif;
}
h1 { font-size: 35px;
     font-family: 'Abel', sans-serif;}
h2 { font-size: 30px;
     font-family: 'Abel', sans-serif;}
h3 { font-size: 25px;
     font-family: 'Abel', sans-serif;}
p  { font-size: 18px;
     font-family: 'Abel', sans-serif;}
a  { font-size: 18px;
     font-family: 'Abel', sans-serif;}
* {
    margin: 0;
    padding: 0;
}
/* Navigation
*/
.divnav {
    border-bottom: 1px solid #EEEEEE;
    font-family: 'Abel', sans-serif;
}

.logoschrift {
    color: black;
    margin-top: 1%;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
}


nav ul {
    list-style: none;
    background-color: white;
    text-align: center;

}
nav li {
    border: none;
    margin: 1%;
    background-color: white;
    display: inline-block;
    font-family: 'Abel', sans-serif;
}
nav a {
    text-decoration: none;
    color: #707070;
    background-color: white;
}
nav a:focus,
nav a:hover,
nav a:active {
    text-decoration:underline;
}
/* Banner
*/
.banner {
    width: 100%;
    height: 400px;
    background-image: url("https://mars.iuk.hdm-stuttgart.de/~dh081/bilder/stone-shop-banner.jpg");
    background-size: cover;
    background-position: center center;
}

.zumshop {
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 40px;
    font-family: 'Abel', sans-serif;

}

.banner2 {
    width: 100%;
    height: 400px;
    background-image: url("https://mars.iuk.hdm-stuttgart.de/~dh081/bilder/stone-banner.jpg");
    background-size: cover;
    background-position: center center;
}
/*Kategorie Auswahl
*/

.kategorieauswahl {
    width:100%;
    text-align: center;
    margin: 1% auto;
    background-color: white;
}

.kategorie {
    display:inline-block;
    box-shadow: 0 0 5px 0 #707070;
    text-align: center;
    padding: 3%;
    font-size: 19px;
    color: #707070;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    width:100px;
    height:100px;
}

/*Content
*/
.textboxgrau {
    padding:3%;
    background-color: #efefef;
}
.zitat {
    text-align: center;
    font-size: 25px;
}

div .maincontent{
    float: left;
    width: 62%;
}
div .sidebar {
    float: left;
    width: 26%;
    padding: 0 1% 0 1%;
    margin-left: 5%;
    margin-right: 3%;
    box-shadow: 0 0 5px 0 #707070;
}

/* Footer
*/

.footer-bottom {
    background-color: black;
    min-height: 30px;
    width: 100%;
}
.fa {
    padding: 10px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white; }
.fa-twitter {
    background: #55ACEE;
    color: white; }
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.copyright {
    color: white;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
ul {
    list-style: outside none; padding-left: 0;
}

.produktseitebild {
    width: 45%;
    display:inline-block;
    float: left;
    margin: 2%;
    height: 400px;
    background-image: url("https://mars.iuk.hdm-stuttgart.de/~dh081/bilder/hinkelstein.jpg");
    background-size: cover;
    background-position: center center;
}

.produktseitetext {
    width: 45%;
    display:inline-block;
    text-align: left;
    float: left;
    margin: 1%;
    padding: 1%;
}

.produktseitetext h1 {
    text-align: center;
}

.produktseitetext h2 {
    text-align: center;
}

.produktseitetext hr {
    margin: 2%;
    border: solid #707070 0.01px;
}

.produktseitetext button {
    background-color: #707070;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 38%;
}

.produktseitebeschreibung {
    padding: 3%;
    margin: 2%;
    background-color: #efefef;
}

/* Backend
*/
.kopfleisteadmin {
    background-color: #262626;
    width: 100%;
    left: 0;
    top: 0;

    padding: 1%;
    color: white;
}
.kopfleisteadmin a {
    color: white;
    text-decoration: none;
}
.menuadminaußen {
    width: 100%;
    display: block;
    font-size: 0;
}
.menuadmin {
    background-color: #4F4F4F;
    padding-left: 1%;
    width: 10%;
    height: 1000px;
    display: inline-block;
    font-size: 18px;
}
.menuadmin a {
    color: white;
    text-decoration: none;
    margin-top: 10%;
    display: inline-block;
}
.bodyadmin {
    background-color: #efefef;
    width: 86%;
    padding-left: 3%;
    padding-top: 1%;
    height: 1000px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
}